a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
div.callout.callout-note {
  border: 1px solid #95a5a6;
}
.callout.callout-style-default .callout-body {
  font-size: 1rem;
}
figure > div > .sourceCode {
  margin: 0 0 0.5rem 0;
}
.quarto-figure {
  border: 1px solid #95a5a6;
  border-radius: .375rem;
}
.quarto-figure > figure > figcaption {
  background-color: #eaecee;
  margin: 0;
  padding: 0.25rem 0.5rem;
}
.quarto-figure > figure > div,
.quarto-figure > figure > p {
  padding: 0.25rem 0.5rem;
}
